<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Meeting Corner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="package">Package</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="client">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="packageActivation">Activation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Users</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button">LogOut</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>